/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        mhl: left_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        mhr: right_hand_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11>;
        };

        td_tab: tap_dance_tab {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp TAB>, <&kp LA(LG(TAB))>;
        };

        td_grave: tap_dance_grave {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp GRAVE>, <&kp LG(GRAVE)>;
        };

        td_bspc: tap_dance_bspc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp BSPC>, <&kp LC(BSPC)>;
        };

        td_esc: tap_dance_escape {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp LA(F4)>;
        };

        // Programming-specific tap dances

        td_semi: tap_dance_semi {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SEMI>, <&macro_cs_func>;
        };

        td_lbrc: tap_dance_lbrace {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&macro_block>;
        };

        td_par: tap_dance_paren {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&macro_parens>;
        };

        td_arrow: tap_dance_arrow {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&macro_arrow>;
        };
    };

    macros {
        macro_cs_func: cs_function {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp SEMI &kp RET &kp LBRC &kp RET &kp RBRC &kp UP &kp TAB>;
        };

        macro_block: code_block {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LBRC &kp RET &kp RET &kp RBRC &kp UP &kp TAB>;
        };

        macro_parens: parentheses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
        };

        macro_arrow: arrow_function {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <40>;
            bindings = <&kp MINUS &kp GT &kp SPACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&td_esc    &kp N1  &kp N2        &kp N3       &kp N4    &kp N5                                                    &kp N6   &kp N7        &kp N8       &kp N9   &kp N0    &td_arrow
&td_tab    &kp Q   &kp W         &kp E        &kp R     &kp T                                                     &kp Y    &kp U         &kp I        &kp O    &kp P     &kp EQUAL
&kp LSHFT  &kp A   &mhl LCTRL S  &mhl LALT D  &kp F     &kp G                                                     &kp H    &mhr RCTRL J  &mhr RALT K  &kp L    &td_semi  &kp SQT
&kp LCTRL  &kp Z   &kp X         &kp C        &kp V     &kp B      &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp N    &kp M         &kp COMMA    &kp DOT  &kp FSLH  &kp BSLH
                                 &kp LGUI     &kp LALT  &kp ENTER  &kp SPACE               &td_bspc               &kp DEL  &kp LC(BSPC)  &mo 1
            >;
        };

        sym_layer {
            bindings = <
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6                         &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
&td_grave  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT                      &kp CARET  &kp AMPS   &kp STAR   &td_par    &kp RPAR   &kp PLUS
&trans     &kp GRAVE  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT                       &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp COLON  &kp DQT
&trans     &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp GT     &td_lbrc    &trans  &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp QMARK  &kp PIPE
                                 &trans     &trans     &trans     &trans      &trans  &trans     &trans     &trans
            >;
        };
    };
};
